# Python Programming

#Python is a popular programming language. 
#Python is a great language for the beginner-level programmers.
#Python is a high-level, interpreted, interactive, object-oriented scripting language.

# Python Print Commands

Print simple string

In [1]:
print ("Welcome to Python Programming")

Welcome to Python Programming

Print Blank Lines

In [2]:
print ("\n\n\n\n\n\n\n\n\n")

Print 5 Blank Lines

In [3]:
print (5 * "\n")

Print end Command

In [4]:
print ("Welcome to", end = ' ') 
print ("Python Programming", end = '!')

Welcome to Python Programming!

In [5]:
print(range(5))

range(0, 5)

In [6]:
print(type(range(5)))

<class 'range'>

# Python Operators

Arithmetic Operators perform various arithmetic calculations like addition, subtraction, multiplication, division, %modulus, exponent, etc.

In [7]:
x= 10
y= 5
print (x + y)
print (x - y)
print (x * y)
print (x / y)
print (x % y)
print (x ** y)

15
5
50
2.0
0
100000

Comparison Operators compare the values on either side of the operand and determine the relation between them.
comparison operators are  ==, != , <, >,<=,<=

In [8]:
x = 20
y = 50
print('x > y  is',x>y)
print('x >= y  is',x>=y)
print('x < y  is',x<y)
print('x <= y  is',x<=y)
print('x == y  is',x==y)
print('x != y  is',x!=y)

x > y  is False
x >= y  is False
x < y  is True
x <= y  is True
x == y  is False
x != y  is True

Python assignment operators are used for assigning the value of the right operand to the left operand. 
Various assignment operators used in Python are +=, - = , *=, /= ,=

In [9]:
firstnumber = 13
secondnumber = 17
print ("First Number : ", firstnumber)
firstnumber *= 10
print ("First Number : ", firstnumber)
secondnumber /= 3
print("Second number :" , secondnumber)

First Number :  13
First Number :  130
Second number : 5.666666666666667

Logical operators in Python are used for conditional statements are true or false.
Logical operators in Python are AND, OR and NOT.

In [10]:
x = True
y = False
print(x and y)
print(x or y)
print(not x)

False
True
False

Membership Operators test for membership in a sequence such as lists, strings or tuples. Membership operators used in Python is  in, not in

Identity Operators is to compare the memory location of two objects, The two identify operators used in Python are is, is not.

# String Functions

In [11]:
# String Methods
message = "Welcome to python programming"

#print (object.function)
print(message.upper())
print(message.lower())
print(message.title())

#Trim methods
messagetrim = "  python programming  "

print(message.strip())
print(message.rstrip())
print(message.lstrip())

print(message.find("pro"))
print(message.replace('p','ph'))
#membership operator

print("prog" in message)
print("json" in message)
print("json" not in message)

WELCOME TO PYTHON PROGRAMMING
welcome to python programming
Welcome To Python Programming
Welcome to python programming
Welcome to python programming
Welcome to python programming
18
Welcome to phython phrogramming
True
False
True

In [12]:
#Slicing Functions
Message = "Welcome to python programming"

print(len(message))
print(message[0])
print(message[-1])
print(message[0:5])
print(message[0:])
print(message[:5])
print(message[:])

29
W
g
Welco
Welcome to python programming
Welco
Welcome to python programming

# Conditional Statements

In [13]:
age=20
if age>=18 and age<60 :
    print("Eligible to drive")
else :
    print("Not eligible to drive")

Eligible to drive

In [14]:
#OR operator
Department="IT"
if Department=="csc" or Department=="IT" :
    print("Eligible to apply for this job")
else :
    print("Not eligible to apply for this job")

Eligible to apply for this job

In [15]:
#NOT operator
Name = "Shivani"
if not Name==" ":
   print("Name is Shivani")

Name is Shivani

In [16]:
#Ternary operator
message="Eligible" if age>=18 else "Not Eligible"
print(message)

Eligible

# For Loop

In [17]:
for x in "python":
    print(x)

p
y
t
h
o
n

In [18]:
#Loop over squence of numbers
for x in range(5):
   print(x)

0
1
2
3
4

In [19]:
for y in range(2,6):
   print(y)

2
3
4
5

In [20]:
#2 means the multiples
for z in range(0,10,2): 
   print(z)

0
2
4
6
8

In [21]:
#Nested loops
for x in range(4):
    for y in range(3):
        print(f'({x},{y})')

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)
(3,0)
(3,1)
(3,2)

# whileloop

In [22]:
i=1
while i<=5:
   print(i)
   i=i+1
print("Done")

1
2
3
4
5
Done

# List

In [23]:
#written in square brackets
#ordered
#accessed via index
#Collection of elements
#preferred for order data
#allows duplicate members

In [24]:
Letters=['a','b','c']

#To print multiple 0
zeros=[0] * 10
print(zeros)

c= zeros+Letters
print(c)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 'a', 'b', 'c']

In [25]:
# Iteration list
numbers=list(range(20))
print(numbers)
chars=list("Python Programming")
print(chars)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [26]:
#Accessing Items

courses=['C','C++','Java','Python','Perl','PHP']

print (courses)
print (courses[2])
print (courses[-1])

['C', 'C++', 'Java', 'Python', 'Perl', 'PHP']
Java
PHP

In [27]:
#Slicing index
print (courses[0:3])
print (courses[:2])
print (courses[2:])
print (courses[:])

['C', 'C++', 'Java']
['C', 'C++']
['Java', 'Python', 'Perl', 'PHP']
['C', 'C++', 'Java', 'Python', 'Perl', 'PHP']

In [28]:
# to modify items
courses[1]=".Net"
print (courses)

['C', '.Net', 'Java', 'Python', 'Perl', 'PHP']

In [29]:
#to display every alternate items
numbers = list(range(20))
print(numbers[::2])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [30]:
#to display numbers in reverse order
print(numbers[::-1])

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# List methods

In [31]:
Letters=['a','b','c']
print(len(Letters))

3

In [32]:
numbers=[5,2,4,1,7,4]

#add items to the end of list
numbers.append(3)
print (numbers)

[5, 2, 4, 1, 7, 4, 3]

In [33]:
#add items based on index
numbers.insert(1,6)# 1 is index 6 is number
print (numbers)

[5, 6, 2, 4, 1, 7, 4, 3]

In [34]:
#Finding items
print (numbers.index(6))#index position of the number

1

In [35]:
# if items doesnt exist
if 7 in numbers:
    print(numbers.index(7))
else:
    print("number 10 not in list")

5

In [36]:
print (10 in numbers)# False
print (5 in numbers)# True

False
True

In [37]:
list1= numbers.copy()
print(list1)

[5, 6, 2, 4, 1, 7, 4, 3]

In [38]:
# last item is removed
numbers.pop()
print(numbers)
# index item is removed
numbers.pop(1)
print (numbers)

[5, 6, 2, 4, 1, 7, 4]
[5, 2, 4, 1, 7, 4]

In [39]:
numbers.remove(2)
print (numbers)

[5, 4, 1, 7, 4]

In [40]:
# to remove the first instance of b
letters=['a','b','c','d','e','f','b']
letters.remove('b')
print (letters)

['a', 'c', 'd', 'e', 'f', 'b']

In [41]:
# to delete items
#del letters('c')
del letters[0:2]
print (letters)

['d', 'e', 'f', 'b']

In [42]:
#Loop over list
for x in ['a','b','c']:
    print(x)

a
b
c

In [43]:
courses=["C","C++","perl","python"]
for course in courses:
    if course.startswith("p"):
        print("Available")
        break
    else:
        print("Not Available")

Not Available
Not Available
Available

In [44]:
#Sorting list
numbers=[5,19,3,34,23,80]
numbers.sort()
print (numbers)

[3, 5, 19, 23, 34, 80]

In [45]:
#Sorting list in descending order
numbers.sort(reverse=True)
print (numbers)

[80, 34, 23, 19, 5, 3]

In [46]:
numbers

[80, 34, 23, 19, 5, 3]

In [47]:
#Sorted will not change the original list
print(sorted(numbers))
#print(sorted(numbers,reverse=True))
print (numbers)

[3, 5, 19, 23, 34, 80]
[80, 34, 23, 19, 5, 3]

In [48]:
#unpacking items
items=(0,"a")
index,letter=items
print(index)
print(letter)

0
a

In [49]:
#Unpacking list
numbers=[1,2,3]
first,second,third=numbers
print(first)
print(second)

1
2

In [50]:
numbers_new=[1,2,3,4,5,6,7,8,9,10]
first,*other,last=numbers_new
print(first,last)
print(other)

1 10
[2, 3, 4, 5, 6, 7, 8, 9]

# Tuples

#A tuple is a collection which is ordered 
#immutable
#written with round brackets

In [51]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [52]:
# tuple with mixed datatypes
my_tuple = (20, "python", 6.5)
print(my_tuple)

(20, 'python', 6.5)

In [53]:
# nested tuple
my_tuple = ("python", [3, 7, 6], (5, 4, 3))
print(my_tuple)

('python', [3, 7, 6], (5, 4, 3))

In [54]:
# Creating a tuple with one element should have a comma
my_tuple = ("welcome",)  
print(type(my_tuple))  # <class 'tuple'> 
my_tuple

<class 'tuple'>

('welcome',)

In [55]:
#tuples packing
my_tuple = (6,"colors",8.9)
print(my_tuple)

(6, 'colors', 8.9)

In [56]:
# tuple unpacking is also possible
x,y,z = my_tuple

print(x)      
print(y)       
print(z)

6
colors
8.9

# Set

#collection of unique items with no duplicates
#is unordered
#is not in sequence
#can't access using index

In [57]:
#To define a set add curly brackets
second={1,5,6,7}

In [58]:
#insert item in set
second.add(2)
print(second)

{1, 2, 5, 6, 7}

In [59]:
#to remove a item
second.remove(5)
print(second)

{1, 2, 6, 7}

In [60]:
print(len(second))

4

In [61]:
#To remove duplicates
numbers =[1,1,2,3,4]
first=set(numbers)
print(first)

{1, 2, 3, 4}

In [62]:
#union of two sets

print(first | second)

{1, 2, 3, 4, 6, 7}

In [63]:
#intersection of two sets
print(first & second)

{1, 2}

In [64]:
#difference between two sets
print(first-second)

{3, 4}

In [65]:
#symmetric difference between two sets
print(first ^ second)

{3, 4, 6, 7}

In [66]:
#Check existence in set

if 1 in first:
   print ("yes")

yes

# Dictionary

#Dictionary is a collection data type which has key value pairs.
#it is unordered and stores data like map
#it is mutable
#indexed
#does not have dupliacte numbers
#have key value pairs unlike any other datatype
#accessed via keys

In [67]:
# empty dictionary
my_dict = {}

In [68]:
# dictionary with integer keys
my_dict = {1: 'Red', 2: 'Blue'}
print(my_dict[1])

Red

In [69]:
# dictionary with mixed keys
my_dict = {'name': 'Shivi', 1: [2, 4, 3]}
print(my_dict['name'])

Shivi

In [70]:
# Creating a Nested Dictionary  

my_dict = {1: 'Python', 2: 'For',  
        3:{'A' : 'Welcome', 'B' : 'To', 'C' : ' C language'}} 
  
print(my_dict[3])

{'A': 'Welcome', 'B': 'To', 'C': ' C language'}

In [71]:
#To add data to dictionary:
my_dict.update({"stud5":10})
print(my_dict)

{1: 'Python', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': ' C language'}, 'stud5': 10}

In [72]:
#To copy:

Dict = {'stud1': 18,'stud2':12,'stud3':22,'stud4':25}	
studentAge=Dict.copy()
print(studentAge)

{'stud1': 18, 'stud2': 12, 'stud3': 22, 'stud4': 25}

In [73]:
#Delete Keys from the dictionary

del my_dict [3]
print(my_dict)

{1: 'Python', 2: 'For', 'stud5': 10}

#Dictionary in-built Functions

In [74]:
#len() Method
my_dict = {1: 'Red', 2: 'Blue'}
print("Colors : ", len (my_dict))

Colors :  2

In [75]:
#type() method:
print("Type : ", type (my_dict))

Type :  <class 'dict'>

In [76]:
#String method:
print("String type : ", str (my_dict))

String type :  {1: 'Red', 2: 'Blue'}

# Functions

In [77]:
def msg():
    print("welcome")
msg()

welcome

In [78]:
def square(x):
    return x*x
print(square(7))

49

In [79]:
#Arguments in Functions
def add(x,y):
    print (x+y)
add(10,13)

23

In [80]:
def multiply(x,y=8):
    print (x*y)
multiply(10)

80

In [81]:
def multiply(x,y=0):
    print("value of x=",x)
    print("value of y=",y)
    
    return x*y
  
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

# Lambda functions

In [82]:
#Syntax:
#lambda arguments : expression

In [83]:
x = lambda a : a + 10
print(x(5))

15

In [84]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [85]:
g = lambda x: x*x*x 
print(g(7))

343